{% extends 'base.html' %}
{% load static %}
{% block content %}
  <section id="inicio">
    <div class="titles">
      <h2 class="intelligent">Intelligent</h2>
      <h2 class="lamp">Lamp</h2>
    </div>
  </section>

  <section id="función">
    <div class="funcion-content">
      <div class="funcion-left">
        <h2>¿Por qué Intelligent Lamp?</h2>
        <p>Intelligent Lamp ofrece una solución innovadora y eficiente para satisfacer tus necesidades de iluminación.</p>
      </div>
      <div class="funcion-right">
        <h2>Funciones</h2>
        <div class="icon-container">
          <img src="{% static 'img/clima.gif' %}" alt="Icono de Clima" />
          <p>Información meteorológica en tiempo real</p>
        </div>
        <div class="icon-container">
          <img src="{% static 'img/lamp.gif' %}" alt="Icono de Día" />
          <p>Controla la iluminación durante el día</p>
        </div>
        <div class="icon-container">
          <img src="{% static 'img/sleep.gif' %}" alt="Icono de Luz" />
          <p>Ayuda a tener una buena intencidad luminica para descansar</p>
        </div>
        <div class="icon-container">
          <img src="{% static 'img/reloj.gif' %}" alt="Icono de Alarma" />
          <p>Programa horarios de alarma</p>
        </div>
        <div class="icon-container">
          <img src="{% static 'img/encendido.gif' %}" alt="Icono de Lampara" />
          <p>Programa horarios de encendido y apagado</p>
        </div>
        <div class="icon-container">
          <img src="{% static 'img/alarma.gif' %}" alt="Icono de Notificaciones" />
          <p>Envía recomendaciones de acuerdo al clima</p>
        </div>
      </div>
    </div>
  </section>

  <section id="clima" class="clima">
    <br>
    <br>
    <br>
    <div class="contenedor">
      <div class="izquierda">
        <h1>CLIMA</h1>
        <h2>Obten el clima en cuaquier <br /> lugar en donde este <br />solo conectate a internet <br />y disfuta</h2>
      </div>
      <div class="derecha">
        <h2>Hoy</h2>
        <p id="fecha">Fecha: 25 de febrero de 2024</p>
        <h3 id="ubicacion"></h3>
        <p id="calidad-aire">Calidad del aire: Buena</p>

        <div class="proximos-dias">
          <div id="dia1">
            <h3>HOY</h3>
            <h2>Temperatura:</h2>
          </div>
          <div id="dia2">
            <H3>MAR</H3>
            <h2>Temperatura:</h2>
          </div>
          <div id="dia3">
            <H3>MIE</H3>
            <h2>Temperatura:</h2>
          </div>
          <div id="dia4">
            <H3>JUE</H3>
            <h2>Temperatura:</h2>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
  </section>

  <section id="instalar">
    <div>
      <p>
        <br />Paso 1
      </p>
    </div>
    <div>
      <h2>Escanea el código QR con la cámara de tu teléfono para abrir <br />la aplicación</h2>
    </div>
    <div>
      <h3>Paso 2</h3>
    </div>
    <div class="img-qr">
      <img src="{% static 'img/qr-code-scan.png' %}" alt="Icono qr" />
    </div>
  </section>

  <section id="contacto">
    <h2>Contacto</h2>
    <div class="contacto-container">
      <div class="contacto-info">
        <img src="{% static 'img/locacion.gif' %}" alt="Icono de Locación" />
        <h3>Locación</h3>
        <p>1234 Calle Principal, Ciudad</p> <!-- Cambia la información según tus necesidades -->
      </div>
      <div class="contacto-info">
        <img src="{% static 'img/email.gif' %}" alt="Icono de Email" />
        <h3>Email</h3>
        <p>correo@example.com</p>
      </div>
      <div class="contacto-info">
        <img src="{% static 'img/telefono.gif' %}" alt="Icono de Teléfono" />
        <h3>Teléfono</h3>
        <p>(123) 456-7890</p>
      </div>
    </div>
  </section>
{% endblock %}
