{% extends 'base.html' %}
{% load static %}
{% block content %}
  <section id="inicio">
    <div class="titles">
      <h2 class="intelligent">Intelligent</h2>
      <h2 class="lamp">Lamp</h2>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Agbalumo&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Dancing+Script&display=swap" rel="stylesheet">
    </div>
  </section>

  <section id="función">
    <div class="funcion-content">
      <div class="funcion-left">
        <h2>¿Por qué Intelligent Lamp?</h2>
        <p>Intelligent Lamp ofrece una solución innovadora y eficiente para satisfacer tus necesidades de iluminación.</p>
      </div>
      <div class="funcion-right">
        <h2>Funciones</h2>
        <div class="icon-container">
          <img src="{% static 'img/clima.gif' %}" alt="Icono de Clima" />
          <p>Información meteorológica en tiempo real</p>
        </div>
        <div class="icon-container">
          <img src="{% static 'img/lamp.gif' %}" alt="Icono de Día" />
          <p>Controla la iluminación durante el día</p>
        </div>
        <div class="icon-container">
          <img src="{% static 'img/sleep.gif' %}" alt="Icono de Luz" />
          <p>Ayuda a tener una buena intencidad luminica para descansar</p>
        </div>
        <div class="icon-container">
          <img src="{% static 'img/reloj.gif' %}" alt="Icono de Alarma" />
          <p>Programa horarios de alarma</p>
        </div>
        <div class="icon-container">
          <img src="{% static 'img/encendido.gif' %}" alt="Icono de Lampara" />
          <p>Programa horarios de encendido y apagado</p>
        </div>
        <div class="icon-container">
          <img src="{% static 'img/alarma.gif' %}" alt="Icono de Notificaciones" />
          <p>Envía recomendaciones de acuerdo al clima</p>
        </div>
      </div>
    </div>
  </section>

  <section id="clima" class="clima">
    <div class="contenedor">
      <div class="izquierda">
        <h1>CLIMA</h1>
        <h2>Obten el clima en cuaquier <br /> lugar en donde este <br />solo conectate a internet <br />y disfuta</h2>
      </div>
      <div class="derecha">
        <h3 id="ubicacion"></h3>
        <p id="fecha">25 de febrero de 2024</p>
        <h3 id="ubicacion"></h3>
        <p id="calidad-aire">Calidad del aire: Buena</p>

        <div class="proximos-dias">
          <div id="dia1">
            <h3></h3>
            <h2></h2>
          </div>
          <div id="dia2">
            <H3></H3>
            <h2></h2>
          </div>
          <div id="dia3">
            <H3></H3>
            <h2></h2>
          </div>
          <div id="dia4">
            <H3></H3>
            <h2></h2>
          </div>
          <div id="dia5">
            <H3></H3>
            <h2></h2>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="instalar" class="instalar">
    <div class="arriba">
      <div class="izquierda"></div>
      <div class="derecha">
        <h1>Instalación</h1>
        <h2>Escanea el código QR con la cámara de tu teléfono para abrir</h2>
        <img src="{% static 'img/qr-code-scan.png' %}" alt="Instalación" />
      </div>
    </div>
    <div class="abajo">
      <div class="izquierda">
        <h1>Paso 1</h1>
        <h2> <img src="{% static "img/descargar.gif"%}" >Descarga nuestra App</h2>
      </div>
      <div class="derecha">
        <h1 class="prueba">Paso 2</h1>
        <h2> <img src="{% static "img/registro.gif" %}"> Listo, disfruta tu aplicación</h2>
      </div>
    </div>
  </section>

  <section id="contacto">
    <h2>Contacto</h2>
    <div class="contacto-container">
      <div class="contacto-info">
        <img src="{% static 'img/locacion.gif' %}" alt="Icono de Locación" />
        <h3>Locación</h3>
        <p><a href="https://www.google.com/maps/@19.4288336,-98.1503106,3a,62.5y,45.38h,72.49t/data=!3m6!1e1!3m4!1sNZlixCaomqlI6iA9DGwgRg!2e0!7i16384!8i8192?entry=ttu">Priv. Miguel Hidalgo #348 </a></p>
      </div>
      <div class="contacto-info">
        <img src="{% static 'img/email.gif' %}" alt="Icono de Email" />
        <h3>Email</h3>
        <p>InteligentLamp@gmail.com</p>
      </div>
      <div class="contacto-info">
        <img src="{% static 'img/telefono.gif' %}" alt="Icono de Teléfono" />
        <h3>Teléfono</h3>
        <p>(247) 181-3880</p>
      </div>
    </div>
  </section>
{% endblock %}
