@import url('https://fonts.googleapis.com/css2?family=Didot&display=swap');

body {
    font-family: 'Didot', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #f0ddd0;
    padding: 10px 20px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    z-index: 1000;
} 

#logo {
    height: 80px; /* Ajusta la altura del logo para hacerlo más grande */
    width: auto;
    max-width: 100%;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}


nav ul li a {
    text-decoration: none;
    color: #a18422;
    font-size: 16px;
    padding: 8px 10px;
    border-radius: 0; 
    border-bottom: 2px solid transparent;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
}

nav ul li a:hover {
    background-color: #EDD4D2;
    color: #b38c22;
    border-bottom: 2px solid #fff; 
}
