@import url('https://fonts.googleapis.com/css2?family=Didot&display=swap');

body {
    font-family: 'Didot', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #f0ddd0;
    padding: 10px 20px; /* Ajusta el padding para hacer la barra más delgada */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

#logo {
    height: 80px; /* Ajusta la altura del logo para hacerlo más grande */
    width: auto;
    max-width: 100%;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}


nav ul li a {
    text-decoration: none;
    color: #a18422;
    font-size: 16px;
    padding: 8px 10px;
    border-radius: 0; /* Quita el borde redondeado */
    border-bottom: 2px solid transparent; /* Agrega una línea inferior transparente */
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
}

nav ul li a:hover {
    background-color: #EDD4D2;
    color: #b38c22;
    border-bottom: 2px solid #fff; /* Agrega una línea inferior blanca al pasar el mouse */
}

#inicio .titles {
    display: inline-block;
    cursor: pointer; /* Cambia el cursor al pasar sobre los títulos */
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#inicio .titles:hover {
    color: #ead6c9; /* Cambia el color al pasar el mouse */
    transform: translateY(-3px); /* Agrega un ligero desplazamiento hacia arriba */
}


#inicio {
    margin-top: 80px;
    text-align: center;
    background-image: url("images/lamp1.png");
    background-size: 100% 100%;
    padding: 200px 0;
}

#inicio h2 {
    font-size: 50px;
    color: #8B4513;
    display: inline-block;
}

#inicio .titles {
    display: inline-block;
}

#inicio .intelligent,
#inicio .lamp {
    font-family: 'The Seasons Light', 'Cormorant', serif;
    font-size: 70px;
    display: block;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

@media screen and (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav {
        display: none;
        width: 100%;
        text-align: center;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #b68c8c;
    }

    nav.active {
        display: block;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }

    #menu-icon {
        display: block;
        cursor: pointer;
    }
}

@media screen and (min-width: 601px) {
    #menu-icon {
        display: none;
    }
}

#inicio .intelligent.animate,
#inicio .lamp.animate {
    opacity: 1;
    transform: translateY(0);
}

/* Agregado estilo para el contenedor de contacto */
#contacto {
    background-color: #ead6c9;
    color: #333;
    padding: 20px;
}

.contacto-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacto-info {
    text-align: center;
}

.contacto-info img {
    width: 50px;
}

.contacto-info h3 {
    font-family: 'The Seasons Light', 'Cormorant', serif;
    font-size: 20px;
    margin: 10px 0;
}

/* Estilo para centrar el contenido del contacto */
#contacto h2 {
    text-align: center;
}
