.instalar .arriba {
    background-image: url('../img/instalar.jpg');
    background-size: cover;
    padding-top: 50px;
}

.instalar .arriba,
.instalar .abajo {
    display: flex;
}

.instalar .abajo{
    background-color: #b9977f;
}

.instalar .abajo h2,
.instalar .abajo h1{
    color: white;
}

.instalar .arriba .izquierda,
.instalar .arriba .derecha,
.instalar .abajo .izquierda,
.instalar .abajo .derecha {
    width: 50%;
    box-sizing: border-box;
    text-align: center;
}



.instalar .arriba img {
    width: 50%;
}

.instalar .abajo img {
    width: 15%;
    vertical-align: middle;
}


@media screen and (max-width: 768px) {

    .instalar .arriba{
        display: flex;
    }
    
    .instalar .abajo {
        display: grid;
    }

    .instalar .abajo .izquierda,
    .instalar .abajo .derecha  {
        width: 100%;
    }

    .instalar .arriba {
        justify-content: flex-end;
    }

}